
h1 {
  text-align: center;
}

#container-galeria {
  background-color: silver;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 1vw; */
  padding: 0px;
}

figure {
  display: table;
  background-color: white;
  max-width: 200px;
  border: 1px silver solid;
  /* border-radius: 6px; */
  text-align: center;
}

figure img {
  width: 100%;
}

figure figcaption {
  display: table-caption;
  caption-side: bottom;
  color: white;
  padding: 6px;
  background-color: darkslategrey;
  border-radius: 0px 0px 6px 6px;
}

figure:hover {
  transform: scale(1.4);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
