
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
}

body {
    background-image: url("./background.jpg");
    background-position: top;
    background-size: auto;
}

button {
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: hsl(0, 0%, 99%);
    border-radius: 15px;
    margin: 3rem auto;
    max-width: 600px;
    padding: 1.5rem;

}

.main-container header {
    text-align: center;
    padding: 0 1rem 1rem; /* top right bottom left */
    border-bottom: 1px solid hsl(0, 0%, 50%)
}

.input-container {
    display: flex;
}

.input-container input {
    font-size: 1rem;
    padding: .5rem;
    margin-right: 0.3rem;
}

#input-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.tarefa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    transition: .3s;
}

.tarefa h3 {
    flex: 1;
    font-size: .9rem;
}

.tarefa button {
    font-size: 0.9rem;
    margin-left: .4rem;
}

.tarefa-finalizada {
    background: hsl(0, 0%, 85%);
}

.tarefa-finalizada h3 {
    color: hsl(0, 0%, 60%);
    text-decoration: line-through;
}
